.btn-addform{
    background-color:#8ac6d1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    /* padding: 8px; */
    width: 50px;
    height: 50px;
    font-size: 25px;
    position: fixed;
    box-shadow: 0 7px 7px 4px rgba(0,0,0,0.15);
    bottom: 5%;
    right: 5%;
    z-index: 10;
}
 

input.ng-invalid.ng-touched{
    border: 1px solid red;
}
input:hover{
    box-shadow: 0px 0px 5px 2px lightgray;
}
button{
    margin-top: 10px;
}
/* button:hover{
    box-shadow: 0px 0px 5px 2px lightgray;
} */
.required {
    color: red;
  }

  #col-datatable-0-0{
      color: red;
  }

  .pagination-box{
      margin-right: 50px;
  }


 